.Table{
  margin: auto;
  width: 96%;
  border: 3px solid green;
  padding: 10px;
  height: 300px;
}
.P{
    margin: auto;
    width: 96%;
    height: 70px;
    border: 3px solid red;
    align-self: center;
    font-size: xx-large;
}
.Div{
    margin: auto;
  width: 40%;
  height: 400px;
  border: 3px solid green;
  padding: 10px;
}